node_modules/
.env
backend/ent/*
!backend/ent/schema
*.pth
venv/
**__pycache__**
.env.docker-compose
nepal.geojson
.terraform
terraform.tfstate
terraform.tfstate.backup
.terraform.tfstate.lock.info
*.apk
