#
# Use this file only if necessary env vars are not already loaded
#
DB_HOST="localhost"
DB_PORT="6432"
DB_NAME="paddy"
DB_USER="postgres"
DB_PASSWORD="postgres"

SUPABASE_URL="https://<project_id>.supabase.co"
SUPABASE_KEY=""
SIGNING_SECRET="p71OHwNPiVTiMSIrgj6jEYYR6UXXPKOIK/w5sYPBcBk="
SUPABASE_CONN_STRING="https://<project_id>.supabase.co/storage/v1"
IMAGE_BUCKET="images"
